/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.calculator{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;    
}
.main-container{
    background: gray;
    height: 700px;
    width: 500px;
    border: 2px solid black;
} */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(135deg,#222,#111);
}

/* ===================== */

.calculator{

    width:380px;

    padding:25px;

    border-radius:30px;

    background:#20242c;

    box-shadow:
    15px 15px 35px rgba(0,0,0,.5),
    -8px -8px 18px rgba(255,255,255,.05);

    border:1px solid rgba(255,255,255,.08);
}

/* ===================== */

.screen{

    height:90px;

    margin-bottom:22px;

    border-radius:20px;

    background:#11161d;

    display:flex;
    justify-content:flex-end;
    align-items:center;

    padding:20px;

    box-shadow:
    inset 6px 6px 12px rgba(0,0,0,.6),
    inset -3px -3px 6px rgba(255,255,255,.05),
    0 0 15px #00f7ff;
}

.screen span{

    color:#00f7ff;

    font-size:42px;

    font-weight:bold;
}

/* ===================== */

.keyboard{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:15px;
}

/* ===================== */

button{

    height:70px;

    border:none;

    border-radius:18px;

    background:#2a3039;

    color:white;

    font-size:26px;

    font-weight:600;

    cursor:pointer;

    transition:.2s;

    box-shadow:
    6px 6px 12px rgba(0,0,0,.45),
    -4px -4px 8px rgba(255,255,255,.05);
}

/* Hover */

button:hover{

    transform:translateY(-3px);

    box-shadow:
    8px 8px 14px rgba(0,0,0,.45),
    -4px -4px 8px rgba(255,255,255,.05),
    0 0 15px #00f7ff;
}

/* Click */

button:active{

    transform:scale(.95);

    box-shadow:
    inset 5px 5px 10px rgba(0,0,0,.55),
    inset -3px -3px 6px rgba(255,255,255,.05);
}

/* ===================== */

.operator{

    background:#00b8d4;
}

.operator:hover{

    background:#00cde8;
}

/* ===================== */

.equal{

    background:#ff9800;
}

.equal:hover{

    background:#ffad33;
}

/* ===================== */

.zero{

    grid-column:span 2;
}